input{
    text-align:center;
}

.multiplierInput{
    text-align: center;
}

footer{
	margin: 20px auto
    padding: 1em;
    color: black;
    background-color: #FFFFFF;
    clear: left;
    text-align: center;
}

.container img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}